body{
    background-image: linear-gradient(to right, rgba(127, 37, 37, 0), rgb(73, 66, 66));
}

.container{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 85vh;
    display:flex;
    flex-direction: column;
    width: 85vw;
    align-items: stretch;
}

.messages{
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.inputs{
    padding: 10px;
    display: flex;
}

#messageInput{
    flex: 1;
}
