{%extends 'base.html'%}
{%block head%} <link rel="stylesheet" href="{{url_for('static', filename='css/backgroundColor.css')}}"/> {%endblock%}
{%block title%} Rooms! {%endblock%}
{%block body%}
  <section class="vh-100">
      <div class="container h-100 text-white">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <form method="post" action="{{url_for("createRoom")}}">
              <h2>Create a room</h2>

              <div class="form-outline mb-4">
                <input type="text" id="roomName" name="roomName" class="form-control form-control-lg" />
                <label class="form-label" for="roomName">Room name</label>
              </div>
            
              <div class="form-outline mb-4">
                <input type="text" id="roomMembers" name="roomMembers" class="form-control form-control-lg" />
                <label class="form-label" for="roomMembers">Add room members (split usernames by comma)</label>
              </div>

                <div> 
                  <h6><b>{{message}}</b><h6>
                </div>
              <button type="submit" class="btn btn-primary btn-lg btn-block">Create</button>
              
            </form>
          </div>
        </div>
      </div>
  </section>
{%endblock%}