{%extends 'base.html'%}
{%block head%} <link rel="stylesheet" href="{{url_for('static', filename='css/scrollBar.css')}}"/> {%endblock%}
{%block body%}
<body style="background-image: linear-gradient(to right, #242582, #2F2FA2);">
<script>
    const username = {{current_user.username|tojson|safe}}
</script>
<div class="container d-flex justify-content-between text-white">
    <div class="col text-center">
        <b><h6 class="display-4"> Member of </h6></b>
    <div class="col text-center" id="scrollContainer">
        <ul class="list-group">
        {%if memberOf%}
            {%for item in memberOf%}
            <li class="list-group-item bg-dark"><a href="{{url_for('chatRoom', roomID=item._id)}}">{{item.roomName}} - {{item._id}}</a>
            <br>
            <div class="btn-group btn-group-sm mt-auto" role="group">
                <script src="{{url_for('static', filename='js/confirmation.js')}}" defer></script>
                <button class="btn btn-primary btn-sm" onclick="window.location.href='{{url_for('chatRoom', roomID=item._id)}}'">Join room</button>
                <button class="btn btn-danger btn-sm" onclick="conf('{{item._id}}', '{{item.roomOwner}}', '{{item.roomMembers | length}}')">Leave room</button>
            </div>
            </br>
            </li>
            {%endfor%}
        {%else%}
            <li class="list-group-item bg-dark"> Not a member of any rooms</li>
        {%endif%}
        </ul>
    </div>
    </div>


    <div class="col text-center">
        <b><h6 class="display-4"> Owned rooms </h6></b>
        <div class="col text-center" id="scrollContainer">
        <ul class="list-group">
        {%if ownerOf%}
            {%for item in ownerOf%}
            <li class="list-group-item bg-dark">
                <a href="{{url_for('chatRoom', roomID=item._id)}}">{{item.roomName}} - {{item._id}}</a>
            <br>
            <div class="btn-group btn-group-sm mt-auto" role="group">
                <button class="btn btn-primary btn-sm" onclick="window.location.href='{{url_for('chatRoom', roomID=item._id)}}'">Join room</button>
                <button class="btn btn-info btn-sm" onclick="window.location.href='{{url_for('manageRoom', roomID=item._id)}}'">Manage room</button>
                <script src="{{url_for('static', filename='js/confirmation.js')}}" defer></script>
                <button class="btn btn-danger btn-sm" onclick="conf('{{item._id}}', '{{item.roomOwner}}', '{{item.roomMembers | length}}')">Leave room</button>
            </div>
            </br>
            </li>
            {%endfor%}
        {%else%}
            <li class="list-group-item bg-dark"> Not an owner of any rooms</li>
        {%endif%}
        </ul>
    </div>
    </div>
    {%endblock%}
</div>
</body>